@import url('https://fonts.googleapis.com/css2?family=Forum&family=Julius+Sans+One&display=swap');

// MIXINS

@mixin mediaQueries ($minWidth, $maxWidth) { // $minWidth and $maxWidth is used to contain the media queries size requirements
    @media screen and (min-width:$minWidth) and (max-width:$maxWidth) { // applies to screen as well
        @content; // used to reduce repetitive code
    }
}

// VARIABLES

$facts_count: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10;
$fact_background-color: #133D3B, #255B59, #3A7573, #3C4C39, #67713C, #525E20, #943F15, #702500, #3A1401, #350D07;


// SCSS
* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 250px 0;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../img/mainBG.png') no-repeat center center;
    background-size: cover;
    color: white;

    h1 {
        -webkit-text-stroke: 3px white;
        font-size: 110px;
        letter-spacing: 14px;
        text-shadow: 4px 4px 4px black;
        margin: 0;

        @include mediaQueries (501px, 675px) { 
            font-size: 75px;
        }

        @include mediaQueries (375px, 500px) { 
            font-size: 60px;
        }

        @include mediaQueries (0px, 375px) { 
            font-size: 40px;
        }
    }

    p {
        width: 60%;
        font-family: 'Forum', cursive;
        font-size: 24px;
        line-height: 35px;
        text-shadow: 2px 4px 2px black;

        @include mediaQueries (376px, 675px) { 
            font-size: 20px;
        }

        @include mediaQueries (0px, 375px) { 
            font-size: 17px;
        }
    }
}

.about_us {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: white;

    h3 {
        font-family: 'Julius Sans One', sans-serif;
        font-size: 45px;
        letter-spacing: 10px;
        line-height: 55px;
        width: 95%;

        @include mediaQueries (0px, 675px) { 
            font-size: 30px;
            line-height: 40px;
        }
    }

    img {
        width: 60%;
        height: auto;
        margin-bottom: 75px;

        @include mediaQueries (0px, 700px) { 
            width: 80%;
        }
    }

    .fact {
        width: 90%;
        display: flex;
        border: 5px solid #FFFFFF;
        border-radius: 120px;
        text-align: center;
        padding: 20px 0;
        margin-bottom: 50px;

        &.left {
            flex-direction: row;

            .fact_info {
                text-align: left;
                padding-right: 50px;
            }

            @include mediaQueries (0px, 750px) { 
                flex-direction: column;

                .fact_info {
                    text-align: center;
                    padding: 0;
                }
            }
        }

        &.right {
            flex-direction: row-reverse;

            .fact_info {
                text-align: right;
                padding-left: 50px;
            }

            @include mediaQueries (0px, 750px) { 
                flex-direction: column;

                .fact_info {
                    text-align: center;
                    padding: 0;
                }
            }
        }

        h2 {
            display: flex;
            justify-content: center;
            font-size: 100px;
            width: 30%;
            margin: 40px 0;
            text-shadow: 4px 4px 4px black;
            align-items: center;

            @include mediaQueries (1001px, 1300px) { 
                font-size: 75px;
            }

            @include mediaQueries (751px, 1000px) { 
                font-size: 50px;
            }

            @include mediaQueries (375px, 750px) { 
                width: 100%;
                font-size: 50px;
            }

            @include mediaQueries (0px, 375px) { 
                width: 100%;
                font-size: 50px;
            }
        }

        & > * {
            width: 70%;

            h5 {
                font-family: 'Julius Sans One', sans-serif;
                font-size: 25px;
                line-height: 27px;
                letter-spacing: 5px;
                color: #C98532;
                -webkit-text-stroke: 3px #C98532;;
                text-shadow: 4px 4px 2px black;
                margin-bottom: 0;

                @include mediaQueries (375px, 1000px) { 
                    font-size: 20px;
                }

                @include mediaQueries (0px, 375px) { 
                    font-size: 17px;
                }
            }

            p {
                font-family: 'Forum', cursive;
                font-size: 20px;
                line-height: 22px;
                letter-spacing: 5px;

                @include mediaQueries (375px, 1000px) { 
                    font-size: 17px;
                }

                @include mediaQueries (0px, 375px) { 
                    font-size: 15px;
                }
            }

            @include mediaQueries (0px, 750px) { 
                width: 90%;
            }
        }

        // an each loop for setting the background color for the 10 facts
        @each $count in $facts_count {

            &.fact_#{$count}{ // set the fact_#{$count} bg color according to the number value of count

                background-color: nth($fact_background-color, $count); // set the bg color for the number value of fact bg color list to the current count value
            }
        }

        @include mediaQueries (350px, 750px) { 
            justify-content: center;
            align-items: center;
            padding: 40px 0;
        }

        @include mediaQueries (0px, 350px) { 
            justify-content: center;
            align-items: center;
            padding: 40px 0;
            border-radius: 20px;
        }
    }
}

.mission {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../img/missionBG.png') no-repeat center center;
    background-size: cover;
    color: white;

    h3 {
        font-family: 'Julius Sans One', sans-serif;
        font-size: 35px;
        letter-spacing: 10px;
        line-height: 65px;
        -webkit-text-stroke: 1px white;
        text-shadow: 4px 4px 4px black;
        width: 90%;

        @include mediaQueries (0px, 650px) { 
            font-size: 20px;
            letter-spacing: 5px;
            line-height: 40px;
        }
    }

    .mission_swiper{
        width: 100%;
        height: 600px;
        margin-top: 75px;

        .swiper {
            width: 100%;
            height: 600px;
    
            .swiper-wrapper .swiper-slide {

                h1 {
                    color: white;
                    font-family: 'Julius Sans One', sans-serif;
                    font-size: 90px;
                    -webkit-text-stroke: white 7px;
                    text-shadow: 7px 7px black;
                    text-align: center;
                    letter-spacing: 15px;
                    margin: 0;
                    margin-bottom: 40px;

                    @include mediaQueries (0px, 650px) { 
                        font-size: 60px;
                    }
                }

                .mission_wrapper {
                    width: 100%;
                    height: 400px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 40%;
                        height: auto;
                        object-fit: contain;

                        @include mediaQueries (0px, 850px) { 
                            width: 45%;
                        }
                    }

                    .mission_desc {
                        padding: 0 150px 0 20px;

                        p {
                            color: white;
                            font-size: 20px;
                            font-family: 'Forum', cursive;
                            letter-spacing: 3px;
                            line-height: 28px;
                            margin: 0;
                            margin-bottom: 40px;
                            text-align: left;

                            @include mediaQueries (350px, 850px) { 
                                font-size: 17px;
                            }

                            @include mediaQueries (0px, 350px) { 
                                font-size: 14px;
                            }
                        }

                        a {
                            display: block;
                            width: 100%;
                            padding: 7px 30px;
                            border: 3px solid white;
                            border-radius: 10px;
                            box-shadow: 1px 1px black;
                            font-family: 'Julius Sans One', sans-serif;
                            font-size: 15px;
                            letter-spacing: 2px;
                            text-decoration: none;
                            color: white;
                            margin-bottom: 20px;

                            &:hover {
                                border-color: #EFB34C;
                                background-color: #EFB34C;
                                cursor: pointer;
                            }

                            &:visited {
                                text-decoration: none;
                                color: white;
                            }

                            @include mediaQueries (350px, 850px) { 
                                font-size: 13px;
                            }

                            @include mediaQueries (0px, 350px) { 
                                font-size: 11px;
                            }
                        }
                    }

                    @include mediaQueries (0px, 700px) { 
                        flex-direction: column;
                        justify-content: none;
                        margin-top: 40px;
                        height: 500px;
                        
                        img {
                            width: 80%;
                            margin-bottom: 40px;
                        }

                        .mission_desc {
                            padding: 0 20px 0 20px;
    
                            p {
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }

        @include mediaQueries (0px, 700px) { 
            height: 700px;
            
            .swiper {
                height: 700px;
            }
        }
    }
}

.tips {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../img/tipsBG.gif') no-repeat center center;
    background-size: cover;
    padding: 50px 0;

    h3 {
        width: 90%;
        font-family: 'Julius Sans One', sans-serif;
        font-size: 60px;
        line-height: 80px;
        color: #CA8533;
        letter-spacing: 5px;
        text-shadow: 4px 4px 4px black;
        margin: 10px 0;

        @include mediaQueries (0px, 700px) { 
            font-size: 25px;
            line-height: 40px;
        }
    }

    p {
        font-family: 'Forum', cursive;
        width: 90%;
        font-size: 20px;
        line-height: 35px;
        letter-spacing: 3px;
        color: white;
        text-shadow: 4px 4px 4px black;

        @include mediaQueries (250px, 700px) { 
            font-size: 17px;
            line-height: 25px;
        }

        @include mediaQueries (0px, 350px) { 
            font-size: 14px;
            line-height: 22px;
        }
    }

    .tips_wrapper {
        width: 90%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 100px;

        .tip {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 22%;
            background-color: #AFBBB8;
            border-radius: 40px;
            margin-bottom: 100px;

            img {
                width: 40%;
                height: auto;
                position: absolute;
                top: -50px;
            }

            h5 {
                width: 90%;
                padding-top: 50px;
                font-size: 25px;
                line-height: 29px;
                text-shadow: .5px .5px black;
                letter-spacing: 8px;

                @include mediaQueries (601px, 1200px) { 
                    font-size: 20px;
                    letter-spacing: 5px;
                }

                @include mediaQueries (0px, 600px) { 
                    font-size: 17px;
                    letter-spacing: 3px;
                }
            }

            @include mediaQueries (651px, 1200px) { 
                width: 30%;
            }

            @include mediaQueries (376px, 650px) { 
                width: 40%;

                img {
                    width: 50%;
                    top: -35px;
                }
            }

            @include mediaQueries (0px, 376px) { 
                width: 100%;
            }
        }
    }
}

footer {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../img/mainBG.png') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 50px 0;

    h1 {
        color:white;
        -webkit-text-stroke: 3px white;
        font-size: 50px;
        letter-spacing: 14px;
        text-shadow: 4px 4px 4px black;
        margin: 0;

        @include mediaQueries (0px, 350px) { 
            font-size: 30px;
        }
    }

    h3 {
        -webkit-text-stroke: 3px white;
        font-family: 'Julius Sans One', sans-serif;
        font-size: 30px;
        line-height: 50px;
        letter-spacing: 14px;
        text-shadow: 4px 4px 4px black;
        margin: 30px 0;

        @include mediaQueries (0px, 350px) { 
            font-size: 20px;
        }
    }

    p {
        font-family: 'Forum', cursive;
        font-size: 17px;
        line-height: 35px;
        letter-spacing: 3px;
        text-shadow: 2px 4px 2px black;
        color: white;
        margin: 0;
        margin-bottom: 50px;
        width: 95%;
    }

    form {
        width: 50%;
    }
    
    input[type=email], input[type=text] {
        width: 48.5%;
        padding: 10px 15px;
        background-color: transparent;
        color: white;
        border: 5px solid white;
        letter-spacing: 2px;
        margin-bottom: 15px;
        float: left;

        @include mediaQueries (0px, 650px) { 
            width: 100%;
        }
    }
    
    textarea {
        width: 48.5%;
        background-color: transparent;
        color: white;
        border: 5px solid white;
        padding: 5px 10px;
        resize: none;
        height: 190px;
        letter-spacing: 2px;
        line-height: 25px;
        margin-bottom: 15px;
        float: right;

        @include mediaQueries (0px, 650px) { 
            width: 100%;
        }
    }

    input[type=email]::placeholder, input[type=text]::placeholder, textarea::placeholder {
        font-size: 14px;
        text-shadow: 2px 4px 2px black;
        color: white;
    }

    input[type=email]:focus, input[type=text]:focus, textarea:focus {
        border-color: #C98532;
        outline: none;
    }

    input[type=submit] {
        font-family: 'Forum', cursive;
        color: black;
        background-color: #C98532;
        padding: 5px 30px;
        margin-top: 30px;
        font-size: 17px;
        font-weight: 600;
        letter-spacing: 3px;
        line-height: 30px;
        border: none;
        float: left;
        border-radius: 20px;

        &:hover {
            cursor: pointer;
            background-color: #EFB34C;
        }
    }

    p#message {
        float: left;
        margin: 35px 0 0 20px;
        color: #C98532;
        display: none;

        &.active{
            display: block;
        }
    }
}